@import url('https://fonts.googleapis.com/css?family=Staatliches');

#main-title {
    font-family: 'Staatliches', cursive;
    font-size: 3.5rem;
    color: #efefef;
}

#main-title a:visited {
    color: #efefef;
}

#main-title a:hover {
    color: #efefef;
    text-decoration: none;
}

nav {
    background-color: #090909
}

nav a {
    color: #090909;
    /*padding: 10px;*/
}

nav a:visited {
    color: #090909;
}

nav a:hover {
    color: #090909;
    text-decoration: none;
}

thead {
    color: #efefef;
}

.messages {
    padding-bottom: 10px;
}

.content {
    padding-top: 10px;
}

#logout {
    color: #efefef;
    text-decoration: none;
}


/**
   Movement
**/

.movement_-2 {
    border: 2px green solid
}

.movement_-1 {
    border: 1px green solid
}

.movement_0 {
    border: 1px yellow solid
}

.movement_1 {
    border: 1px red solid
}

.movement_2 {
    border: 2px red solid
}