{% if logged_in_user == challenge.challenger.username or logged_in_user == challenge.opponent.username %}
    <a href="{% url 'play_match' pk=challenge.pk %}" class="btn btn-outline-dark btn-sm btn-block"><small>Enter Results</small></a>
{% endif %}
{% if logged_in_user == challenge.opponent.username and challenge.opponent.userprofile.can_decline %}
    <a href="{% url 'decline' pk=challenge.pk %}" class="btn btn-outline-dark btn-sm btn-block"><small>Decline</small></a>
{% endif %}
{% if logged_in_user == challenge.opponent.username and not max_days %}
    <a href="{% url 'add_a_day' pk=challenge.pk %}" class="btn btn-outline-dark btn-sm btn-block"><small>Add a Day</small></a>
{% endif %}
