{% extends 'base.html' %}

{% load bootstrap %}
{% load static %}
{% load pool_ladder %}

{% block title %}{{ name|ladder_name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <table id="challenges" class="table table-striped table-hover table-bordered bg-light">
                        <caption>Challenges</caption>
                        <thead class="bg-dark">
                            <tr>
                                <td scope="col">Challenge Time</td>
                                <td scope="col">Time Until</td>
                                <td scope="col">Challenger</td>
                                <td scope="col">Opponent</td>
                                <td scope="col"></td>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
             <div class="row">
                <div class="col">
                    <table id="matches" class="table table-striped table-hover table-bordered bg-light">
                        <caption>Played Matches</caption>
                        <thead class="bg-dark">
                            <tr>
                                <td scope="col">Played On</td>
                                <td scope="col">Winner</td>
                                <td scope="col">Loser</td>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col">
            <table id="users" class="table table-striped table-hover table-bordered thead-dark bg-light">
                <caption>Ladder</caption>
                <thead class="bg-dark">
                    <tr>
                        <td scope="col">Rank</td>
                        <td scope="col">Username</td>
                        <td scope="col"></td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block endbodyjs %}
    <script type="text/javascript" src="{% static '/channels/js/websocketbridge.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('#challenges').DataTable(
                {
                    "paging": false,
                    "searching": false,
                    "info": false,
                    "serverSide": true,
                    "ajax": "{% url 'challenge_datatable' %}",
                    "columns": [
                        { "name": "challenge_time", width: "40%" },
                        { "name": "time_until", width: "30%", "orderable": false },
                        { "name": "challenger", width: "10%", "orderable": false },
                        { "name": "opponent", width: "10%", "orderable": false },
                        { "name": "action", width: "10%", "orderable": false }
                    ],
                    "order": [[ 0, 'asc' ]]
                }
            );
        } );
    </script>
    <script>
        $(document).ready(function() {
            $('#matches').DataTable(
                {
                    "pagingType": "full",
                    "searching": false,
                    "serverSide": true,
                    "ajax": "{% url 'match_datatable' %}",
                    "columns": [
                        { "name": "played", width: "50%" },
                        { "name": "winner", width: "25%", "orderable": false },
                        { "name": "loser", width: "25%", "orderable": false }
                    ],
                    "order": [[ 0, 'desc' ]]
                }
            );
        } );
    </script>
    <script>
        $(document).ready(function() {
            $('#users').DataTable(
                {
                    "paging": false,
                    "searching": false,
                    "info": false,
                    "serverSide": true,
                    "ajax": "{% url 'ladder_datatable' %}",
                    "columns": [
                        { "name": "rank", width: "20%" },
                        { "name": "user", width: "30%", "orderable": false },
                        { "name": "available", width: "50%", "orderable": false }
                    ],
                    "order": [[ 0, 'asc' ]]
                }
            );
        } );
    </script>
    <script>
        const WebSocketBridge = new channels.WebSocketBridge();
        WebSocketBridge.connect('/pool-ladder/');

        function challenge(opponent) {
            WebSocketBridge.send(
                {
                    "message_type": "challenge",
                    "opponent": opponent
                }
            );
        }

        WebSocketBridge.listen(function(action, stream) {
            message_type = action['message_type'];

            if (message_type === "users"){
                $('#users').DataTable().draw('page');
            }

            if (message_type === "challenges"){
                $('#challenges').DataTable().draw('page');
            }

            if (message_type === "matches"){
                $('#matches').DataTable().draw('page');
            }

            if (message_type === "challenge_error"){
                alert('There was an error when creating the challenge\n\n' + action['error']);
            }
        })


    </script>
{% endblock %}